/* variable css */
:root {
    /* --background-color: #ffffff; */
    --black-blue: #1B262C;
    --navy-blue: #0F4C75;
    --blue: #3282B8;
    --light-blue: #BBE1FA;
    --golden: #bc9864;
    --off-black: #060606;
    --grey: #666666;
    --dark-grey: #141414;
    --off-white: #cecece;
    --sonic-silver: hsl(0, 0%, 44%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

/* Font face import */
@font-face {
    font-family: Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}

/* Reset all web parameters */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

/* ---- navigation bar logo ---- */
.logo label {
    color: var(--golden);
}

.logo label {
    font-size: 30px;
    font-weight: 500;
}

/* ---- navigation bar links ---- */
.nav-links {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 20px;
}

.nav-links li {
    display: block;
    margin: auto 10px;
}

.nav-links li a{
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    transition: 500ms;
}

.nav-links li a:hover {
    background-color: var(--white);
    color: var(--black);
    padding: 5px 20px;
    border-radius: 20px;
}

/* ---- navigation bar buttons ---- */
.nav-actions {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    transition: 500ms;
}

.nav-actions button {
    border: 0px solid transparent;
    background-color: transparent;
}

.nav-btn {
    position: relative;
    width: 50px;
    text-align: center;
}

.nav-actions button p a {
    color: var(--grey);
    transition: 500ms;
}

.nav-btn:hover > .nav-action-label a {
    color: var(--white);
}

.nav-btn .icon {
    margin-inline: auto;
    font-size: 22px;
    margin-bottom: 3px;
    color: var(--black);
    -webkit-text-stroke: var(--white);
    -webkit-text-stroke-width: 1px;
    transition: 200ms;
}

.nav-btn:hover > .icon {
    -webkit-text-stroke: var(--golden);
    -webkit-text-stroke-width: 1px;
}

.nav-btn .btn-badge {
    position: absolute;
    top: -5px;
    right: 0;
    background: var(--background, var(--off-black));
    background: var(--black);
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--white);
    border: 0.5px solid var(--white);
    border-radius: 50%;
    transition: 200ms;
}

.nav-btn:hover > .btn-badge {
    background-color: var(--white);
    color: var(--black);
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

.line-full {
    background-color: var(--black);
    width: 20px;
    height: 2px;
    margin: 5px;
}

.line-half {
    background-color: var(--black);
    width: 10px;
    height: 2px;
    margin: 5px;
}

.home {
    background-color: var(--black);
}

@media (max-width: 1000px) {
    header {
        background-color: var(--white);
    }

    .logo label {
        color: var(--black);
        font-weight: 700;
    }

    .nav-actions {
        background-color: var(--white);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
        padding-block: 16px 10px;
        box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
        z-index: 1;
    }

    .nav-lines {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background-color: #000000e2;
        transform: 200ms;
        overflow: hidden;
        transition: 200ms;
        /* opacity: 0%; */
    }

    .nav-links.active {
        height: 40%;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
    }

    .nav-btn .icon {
        margin-inline: auto;
        font-size: 22px;
        margin-bottom: 3px;
        color: #ffffff;
        -webkit-text-stroke: var(--black);
        -webkit-text-stroke-width: 1px;
    }

    .nav-btn:hover > .nav-action-label {
        color: var(--black);
    }

    .nav-btn:hover > .btn-badge {
        background-color: var(--black);
        color: var(--golden);
    }
}

@media (max-width: 600px) {
    .logo label {
        font-size: 20px;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 4px;
    background-color: var(--off-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 10px;
}